body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}

.logo{
    width: 100px;
    height: auto;
}

.nav-link{
    line-height: 28px;
    font-weight: bold;
    color: #252B42;
    text-decoration: none;
}
.nav-link:hover{
    color: #FA4A0C;
}
.nav-el{
    margin-right: 100px;
}
.header-flex{
    padding: 40px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.button{
    border: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    width: 236px;
    height: 70px;   
    color: #FFFFFF;
    border-radius: 30px;
    cursor: pointer;
}

.app{
    background-image: url('../img/upper_bg.png');
    text-align: center;
    color: #FFFFFF;
    padding: 80px 0px 162px;
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
}
.app-text{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.app-title{
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    max-width: 800px;
    margin: 10px auto;
}
.app-about{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 80px;
}
.button-container>.button:first-of-type{
    background: #FA4A0C;
    margin-right: 60px;
}
.button-container>.button:last-of-type{
    background: none;
    border: 1px solid #ffffff;
}
.button-container>.button:hover{
    background-color: #990808;
    border: 2px solid #990808;
    color: #ffffff;
    transition: 0.5s;
}

.order{
    color: #FFFFFF;
    text-align: center;
    background: url(../img/lower_bg.png);
    padding: 140px 0px 131px;
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: center;
}
.order-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    margin-bottom: 10px;
}
.order-about{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin-top: 15px;
    margin-bottom: 60px;
}
.button-order{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
.button-container>.button-order:first-of-type{
    background: #FA4A0C;
    width: 142px;
    height: 64px;
    margin-right: 15px;
    
}
.button-container>.button-order:last-of-type{
    background: none;
    border: 1px solid #FFFFFF;
    width: 173px;
    height: 60px;
}
.button-container>.button-order:hover{
    background-color: #990808;
    border: 2px solid #990808;
    color: #ffffff;
    transition: .5s;
}

.mobile-title{
    margin: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 44px;
    line-height: 36px;
}
.mobile-flex{
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-flex_pretitle{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
}
.mobile-flex_title{
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #000000;
    max-width: 560px;
    margin: 20px 0;
}
.mobile-flex_text{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #737373;
    max-width: 460px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 105px;
    margin-bottom: 55px;
}
